<!DOCTYPE html>
<html>
  <head>
    <%- include( '../layout/head.ejs' ) %>
  </head>
  <body>
    <header>
      <h1>Search Results</h1>
    </header>
    <main>
      <ul>
        <!-- <% finalBookArray.forEach(book => { %>
          <img src=<%= book.url %> >
          <h2><%= book.title %></h2>
          <h3><%= book.author %></h3>
          <p><%= book.description %></p>
          
        <% }) %> -->
      </ul>
    </main>
    <footer>
      <%- include( '../layout/footer.ejs' ) %>
    </footer>
  </body>
</html>